{% extends 'website/base.html' %}

{% block titulo_tab %}
    {{ producto.nombre }} - Detalle
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <a href="{% url 'website:index_website' %}"><i class="fa-solid fa-arrow-left"></i></a>

                    {{ producto.nombre }} ${{ producto.precio }}
                </h1>
                <img src="{{ producto.imagen.url }}" alt="foto producto">
                <div>
                    {% for obj in producto.galeria.all %}
                        <img src="{{ obj.imagen.url }}" alt="" class="img-thumbnail w-25">
                    {% endfor %}
                </div>

                <h3>{{ producto.descripcion }}</h3>
                <h2>
                    <a href="https://api.whatsapp.com/send?phone=529931460820&text=Quiero ordenar {{ producto.nombre }} http://127.0.0.1:8000{{ request.path }}"
                       class="text-success"
                       target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                        Ordenar
                    </a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}