{% extends 'website/base.html' %}

{% block titulo_tab %}
    Inicio - catalogo
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Fondita "lo mas bara"</h1>

                {% for object in objects_list %}
                    {% if object.activo %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{ object.imagen.url }}" class="card-img-top" alt="foto de comida">
                            <div class="card-body">
                                <h5 class="card-title">{{ object.nombre }}</h5>
                                {#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk#}
                                {#                                of the card's content.</p>#}
                                <a href="{% url 'website:detalle_producto' object.pk %}" class="btn btn-warning">
                                    ${{ object.precio }}
                                </a>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>

{% endblock %}