{% load static %}

{% comment %}
Template basado en Boostrap 5.2.2
Autor: @tavodev
Fecha: 31/10/2022
{%  endcomment %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block titulo_tab %}
            Titulo
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bs522/css/bootstrap.min.css' %}">
</head>
<body>
{% block contenido %}

{% endblock %}
<script src="{% static 'bs522/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>